:root {
    --red: #DC3545;
    --gold: #FFC107;
    --blue: #0D6EFD;
}

* {
    font-family: Montserrat, sans-serif;
}

main {
    padding: 10px;
}

/* Mobile Styling*/
@media screen and (min-width: 260px) {
    /* Nav bar */
    .navbar-brand {
        font-size: 16px !important;
        .colour1 {
            color: var(--red);
        }
        .colour2 {
            color: var(--gold);
        }
        .colour3 {
            color: var(--blue);
        }
    }

    /* Index */
    .header {
        .title {
            color:#0000ff;
            text-align: center;
            padding-bottom: 10px;
            font-size: 30px;
        }
        .title-img {
            margin: 0 auto;
            width: 100%;
            border-radius: 10px;
        }
    }

    /* Buttons */
    .buttons {
        margin: 10px 0 20px 0;
        a {
        padding: 10px;
        font-weight: bold;
        }
    }

    /* How To */
    #how-to {
        background-color: #0D6EFD;
        color: #ffffff;
        padding: 20px 10px 10px 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    /* Quiz */
    .wrapper {
        border: solid 2px var(--red);
        color: var(--red);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .title-q {
        color: var(--red);
        text-align: center;
    }

    .quiz-score {
        text-align: center;
    }
    
    #fun-fact {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .image-cont {
        margin-bottom: 20px;
    }

    .quiz-img {
        width: 160px;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
    }

    
    
    #q-a {
        padding: 10px 0;
    }

    .q-foot {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Footer */
    footer {
        text-align: center;
        font-size: 12px;
        padding: 10px 0;
        .footer-link {
            text-decoration: none;
            color: var(--red) !important;
        }
        hr {
            border: dashed 2px var(--blue) !important;
        }
    }
}

/* Tablet Styling*/
@media screen and (min-width: 768px) {
    
}

/* Desktop Styling*/
@media screen and (min-width: 1024px){
    /* Footer */
    .footer-link:hover {
        color: var(--blue) !important;
        text-decoration: underline
    }
}
