:root {
    --red: #DC3545;
    --gold: #dda703;
    --blue: #0D6EFD;
}

* {
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 10px;
}

/* Mobile Styling*/
@media screen and (min-width: 260px) {    
    /* General Styling */
    .header {
        margin-bottom: 20px;
        text-align: center;
        font-weight: 500;
    }

    /* Nav bar */
    .navbar-brand {
        font-size: 16px !important;
        font-weight: 400;
    }

    .colour1 {
        color: var(--red);
    }
    .colour2 {
        color: var(--blue);
    }
    
    .nav-link {
        color: var(--blue) !important;
    }
    
    .active {
        color: var(--red) !important;
    }

    /* Index */
    .index-title {
        color: var(--red);
        text-align: center;
        padding-bottom: 10px;
        font-size: 30px;
        font-weight: 500;
    }

    .title-img {
        margin: 0 auto 20px auto;
        width: 100%;
        border-radius: 10px;
    }

    /* Buttons */
    .buttons {
        margin: 10px 0 20px 0;
    }

    a {
        padding: 10px;
        font-weight: bold;
        }

    /* How To */
    .how-to {
        background-color: #0D6EFD;
        color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    /* Quiz */
    .wrapper {
        background-color: var(--red);
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .title-q {
        color: #ffffff;
        text-align: center;
    }

    .quiz-score {
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        display: block;
        margin: 0 auto;
    }

    .message {
        text-align: center;
        color: #ffffff;
        font-size: 22px;
    }

    .image-cont {
        margin-bottom: 20px;
    }

    .quiz-img {
        width: 160px;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
    }

    #q-a {
        padding: 10px 0;
    }

    .q-foot {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .score-icon {
        color: white;
        font-size: 60px;
        margin-bottom: 20px;
    }

    /* Final Score */
    #score {
        background-color: var(--gold);
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 20px;
    }

    .final-score {
        font-size: 40px;
    }

    /* Footer */
    footer {
        text-align: center;
        font-size: 12px;
        padding: 10px 0;
    }
    
    .footer-link {
        text-decoration: none;
        color: var(--red) !important;
    }
    
    .footer-link:hover {
        color: var(--blue);
    }

    hr {
        border: dashed 2px var(--blue) !important;
    }
}

/* Tablet Styling*/
@media screen and (min-width: 768px) {
    main {
        padding: 20px 30px;
    }

    /* Nav Bar */
    nav {
        font-size: 16px;
    }

    .nav-link {
        margin-left: 20px;
    }
    
    /* Index */
    .index-title {
        color: var(--red);
        text-align: center;
        padding-bottom: 10px;
        font-size: 30px;
        font-weight: 500;
    }

    .how-to {
        padding: 20px;
        font-size: 18px;
    }
}

/* Desktop Styling*/
@media screen and (min-width: 1024px){
    main {
        padding: 40px 60px;
    }

    /* Nav Bar*/
    nav {
        font-size: 18px;
    }

    /* How To */
    .how-to {
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    /* Footer */
    .footer-link:hover {
        color: var(--blue) !important;
        text-decoration: underline
    }
}
